.all-content{
    display:flex;
    height:100%;
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.center{
    margin:auto;
}
.left{
    margin-right: auto;
}
.right{
    margin-left: auto;
}
.up{
    margin-bottom: auto;
}
.down{
    margin-top: auto;
}
.row{
    flex-direction: row;
}
.collumn{
    flex-direction: column;
}
.half-width{
    width: 50%;
}
.half-height{
    height: 50%;
}
.header{
    display:flex;
    width:60%;
    height:10%;
    position: fixed;
    top: 0px;
    background-color: rgb(177, 7, 7);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
*{
    text-decoration: none;
}
a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:inline-block;
    margin: 0px 15px;
}
.vertical{
    align-items:center;
}
.flex{
    display:flex;
}
.main{
    display: flex;
    width: 70%;
    min-height: 80%;
    background-color: rgb(48, 48, 48);
    border: 3px solid red;
    border-bottom: none;
}
.panel{
    display: flex;
    width: 90%;
    background-color:rgb(43, 9, 9) ;
    color:white;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
}
body{
    background-color: rgb(138, 139, 139);
}
.authorized{
    display: flex;
    background-color: rgb(116, 89, 89);
    width: 25%;
    padding: 15px;
    justify-content: center;
    min-height: 30%;
}
input[type=text],
input[type=submit],
input[type=number],
input[type=password]{
    width: 150px;
    margin-top:15px;
    margin-bottom: 15px;

}
.jus-center{
justify-content: center;
}
dialog[open]{
    background-color: rgb(248, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:none;
    z-index:2000;
    top:50%;
    transform: translateY(-50%);
}