<?xml version="1.0" encoding="UTF-8"?>
<web-app version= "2.4">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>SignIn</display-name>
  	<servlet-name>SignIn</servlet-name>
  	<servlet-class>com.bookstore.servlets.SignIn</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SuccesfulSignIn</display-name>
  	<servlet-name>SuccesfulSignIn</servlet-name>
  	<servlet-class>com.bookstore.servlets.SuccesfulSignIn</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>WrongLoginOrPassword</display-name>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<servlet-class>com.bookstore.servlets.WrongLoginOrPassword</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SignUp</display-name>
  	<servlet-name>SignUp</servlet-name>
  	<servlet-class>com.bookstore.servlets.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginLength</display-name>
  	<servlet-name>LoginLength</servlet-name>
  	<servlet-class>com.bookstore.servlets.LoginLength</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PasswordLength</display-name>
  	<servlet-name>PasswordLength</servlet-name>
  	<servlet-class>com.bookstore.servlets.PasswordLength</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PhoneExsist</display-name>
  	<servlet-name>PhoneExsist</servlet-name>
  	<servlet-class>com.bookstore.servlets.PhoneExsist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PasswordMismatch</display-name>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<servlet-class>com.bookstore.servlets.PasswordMismatch</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserExsist</display-name>
  	<servlet-name>UserExsist</servlet-name>
  	<servlet-class>com.bookstore.servlets.UserExsist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegistrationSuccessful</display-name>
  	<servlet-name>RegistrationSuccessful</servlet-name>
  	<servlet-class>com.bookstore.servlets.RegistrationSuccessful</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddBook</display-name>
  	<servlet-name>AddBook</servlet-name>
  	<servlet-class>com.bookstore.servlets.AddBook</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddProvider</display-name>
  	<servlet-name>AddProvider</servlet-name>
  	<servlet-class>com.bookstore.servlets.AddProvider</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddBookLoad</display-name>
  	<servlet-name>AddBookLoad</servlet-name>
  	<servlet-class>com.bookstore.servlets.AddBookLoad</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Show</display-name>
  	<servlet-name>Show</servlet-name>
  	<servlet-class>com.bookstore.servlets.Show</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateOrder</display-name>
  	<servlet-name>CreateOrder</servlet-name>
  	<servlet-class>com.bookstore.servlets.CreateOrder</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogOut</display-name>
  	<servlet-name>LogOut</servlet-name>
  	<servlet-class>com.bookstore.servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuccesfulSignIn</servlet-name>
  	<url-pattern>/SuccesfulSignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<url-pattern>/WrongLoginOrPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginLength</servlet-name>
  	<url-pattern>/LoginLength</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordLength</servlet-name>
  	<url-pattern>/PasswordLength</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhoneExsist</servlet-name>
  	<url-pattern>/PhoneExsist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<url-pattern>/PasswordMismatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserExsist</servlet-name>
  	<url-pattern>/UserExsist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationSuccessful</servlet-name>
  	<url-pattern>/RegistrationSuccessful</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBook</servlet-name>
  	<url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProvider</servlet-name>
  	<url-pattern>/AddProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBookLoad</servlet-name>
  	<url-pattern>/AddBookLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Show</servlet-name>
  	<url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateOrder</servlet-name>
  	<url-pattern>/CreateOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>